{{{navbar_val}}}
<div class="container mt-4 mb-2 justify-content-center align-items-center">
  <div class="text-white">
    <h1>Welcome back,  <strong>{{username}}</strong></h1>
    <p class="text-white-50 mb-1">Expresso, what else..</p>
    {{{rnd}}}
  </div>
</div>