<nav class="navbar navbar-expand-md navbar-dark bg-dark border border-white mx-5" style="border-width:2px;border-radius: 3rem;">
  <div class="navbar-brand">
    <div class="border border-white bg-white" style="display:inline-block;width:65px;border-radius: 20rem;">
        <img class="img-fluid" style="max-width:100%;max-height:100%;" src="/images/expresso.png">
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expresso_nav" aria-controls="expresso_nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="expresso_nav">
    <ul class="navbar-nav mr-auto">
        {{#if index}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        {{/if}}
        {{#if expressor}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Expressor</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/notes">Expressor</a>
            </li>
        {{/if}}
        {{#if settings}}
            <li class="nav-item active">
                <a class="nav-link" href="#">Account settings</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/settings">Account settings</a>
            </li>
        {{/if}}
        {{#if admin}}
            {{#if admin_spy}}
                <li class="nav-item active">
                    <a class="nav-link" href="#">Expresspy</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Expresspy</a>
                </li>
            {{/if}}
        {{/if}}
    </ul>
    <a class="logout" href="/auth/logout">Logout</a>
  </div>
</nav>