<script>
  var id = window.location.href.split("/")[4];
  var notecancel = function(){
    location.href='/notes';
  }
  var noteupdate = function(){
    var notename = document.getElementById("namen");
    var notecont = document.getElementById("content");
    var box = document.getElementById("msg_box");
    var alert_box = document.getElementById("alert_box");
    if(notename === undefined || notecont === undefined){
      alert_box.className = "alert alert-danger";
      box.innerText = "The name and content errored out";
    }
    fetch("/notes/"+id, {
      method: 'PATCH',
      body: JSON.stringify({
        name: notename.value,
        content: notecont.value
      }),
      headers: {
        'Content-type': 'application/json; charset=UTF-8',
      },
    }).then((response) => response.json()).then((json) => {
      if(json.type==="good"){
            alert_box.className = "alert alert-success";
        }else{
            alert_box.className = "alert alert-danger";
        }
        box.innerText = json.message;
        if(json.type==="good"){
          location.href="/notes/"+id;
        }
    });
  }
  var notedelete = function(){
    var box = document.getElementById("msg_box");
    var alert_box = document.getElementById("alert_box");
    if(confirm("Are you sure you want to delete this note ?")){
      fetch("/notes/"+id, {
      method: 'DELETE'
    }).then((response) => response.json()).then((json) => {
      if(json.type==="good"){
            alert_box.className = "alert alert-success";
        }else{
            alert_box.className = "alert alert-danger";
        }
        box.innerText = json.message;
        if(json.type==="good"){
          location.href="/notes";
        }
    });
    }else{
      return;
    }
  }
</script>
{{{navbar_val}}}
<div class="container py-4 h-100">
    <h4 class="text-white">Last modified: <strong>{{date}}</strong></h4>
    <div class="bg-dark text-white border-white border px-5 py-5" style="border-width:1px;border-radius: 2rem;">
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="namen">Name</label>
        <input type="text" id="namen" name="notename" value="{{name}}" class="form-control form-control-lg bg-dark text-white" />
    </div>
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="content">Content</label>
        <textarea type="text" style="width: 100%; height:150px;" id="content" name="content" placeholder="My first note is here!" class="form-control form-control-lg bg-dark text-white">{{content}}</textarea>
    </div>
      <div class="pb-3">
        <button type="button" onclick="notecancel()">Back</button>
        <button type="button" onclick="noteupdate()">Update</button>
        <button type="button" onclick="notedelete()">Delete</button>
      </div>
      <div id="alert_box" class="d-none">
        <strong>
            <div id="msg_box">
            </div>
        </strong>
    </div>
    </div>
</div>