{{{navbar_val}}}
<section>
  <div class="container py-4 h-100">
    <div class="card bg-dark text-white border-white" style="border-width:2px;border-radius: 5rem;">
        <div class="card-body p-5 text-center">
            <div class="mb-md-2">
                <form action="/auth/update" method="post">
                    <h2 class="fw-bold mb-2 text-uppercase">Password change</h2>
                    <p class="text-white-50 mb-2">Please enter your new password!</p>

                    <div class="form-outline form-white mb-2">
                        <input type="password" id="password_form" name="password" placeholder="Password" class="form-control form-control-lg bg-dark text-white" />
                        <label class="form-label" for="password_form">Password</label>
                    </div>

                    <div class="form-outline form-white mb-5">
                        <input type="password" id="passwordre_form" name="password_repeat" placeholder="Repeat password" class="form-control form-control-lg bg-dark text-white" />
                        <label class="form-label" for="passwordre_form">Password repeat</label>
                    </div>

                    <div>
                        <input type="submit" value="Update" class="btn btn-outline-light btn-lg px-5">
                    </div>
                </form>

                <div id="alert_box" class="d-none">
                    <strong>
                        <div id="msg_box">
                        </div>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const query = window.location.search;
    const box = document.getElementById("msg_box");
    const alert_box = document.getElementById("alert_box");
    if(query!==null || query!==undefined){
        try{
        var params = query.split("?")[1].split("&");
        const msg_type = params[1].split("=");
        const msg_var = params[0].split("=");
        if(msg_type[0]==="type" || msg_var[0]==="message"){
            if(msg_type[1]==="good"){
                alert_box.className = "alert alert-success mt-4";
            }else{
                alert_box.className = "alert alert-danger mt-4";
            }
            box.innerText = decodeURI(msg_var[1]);
        }
        }catch{
            
        }
    }
</script>